@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500,600');

body, html {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 16px;
}

header {
  background: linear-gradient(to bottom, rgba(41, 41, 41, 0.48) 0%, rgba(0, 0, 0, 0) 59%, rgb(0, 0, 0) 100%), url(../img/header_background.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
}

header p {
  font-size: 20px;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

.icons {
  font-size: 20px;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.social-icons a {
  color: #000000;
}

#logo {
  width: 20%;
}

.videoContainer {
  width: 70%;
  margin: 0 auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  border: 10px solid #000000;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.buy-now {
  margin: 5% 0;
}

.buy-now a {
  border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    color: #fff;
    background: #2e509b;
    border: 2px dashed #FFFFFF;
    border-radius: 60px;
}

.buy-now a:hover {
  background: #000000;
  color: #226fbe;
  text-decoration: none;
}

.carousel-indicators {
    bottom: 0px;
    margin-bottom: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  align-items: center;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.drm-text {
  margin-top: 0.9em;
  font-size: 14px;
  color: #000000;
  line-height: 14px;
}

section {
  margin-top: 10%;
}

#available-now p {
  font-size: 20px;
}


@media screen and (max-width: 768px)
 {
  #logo {
    width: 30%;
  }
  .videoContainer {
    width: 90%;
    margin: 0 auto;
  }

}
